body {
  font-family: roboto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top-part {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px 64px;
}
.bottom-part {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
}

.header {
  background-color: #1f2937;
}
.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  margin: 68px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}
.quote-author {
  margin-left: auto;
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
}
.cta {
  color: white;
  padding: 48px 100px;
}
.cta-block {
  display: flex;
  flex: 1;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: auto;
  border-radius: 6px;
}
.cta-text {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.cta-head {
  font-size: 20px;
  font-weight: 600;
}
.cta-description {
  color: #e5e7eb;
}
#cta {
  border: 2px solid white;
  margin-top: 25px;
  margin-left: 80px;
}
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*idnooooo*/
.info-wrap {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.heading-info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.heading-info,
.info-wrap {
  margin-bottom: 30px;
}
.heading,
.description,
button {
  margin-bottom: 10px;
}
.logo {
  font-size: 24px;
  font-weight: 600;
}
.heading {
  font-size: 48px;
  font-weight: 900;
}
.heading,
.logo {
  color: #f9faf8;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
}
.description,
.image-placeholder,
ul {
  color: #e5e7eb;
  font-size: 18px;
}
.image-placeholder {
  height: 268px;
  width: 600px;
  display: flex;
  background-color: slategrey;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #3882f6;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px 20px;
}
.pic {
  width: 170px;
  height: 170px;
  border: 5px solid #3882f6;
  border-radius: 18px;
}
.box {
  width: 170px;
}
